.slid{
    height: 300px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.tong{
    margin: 16px auto;
}
.title{
    border: none;
    margin-top: 67px;
    padding-top: 16px;
    font-weight: 700;
}
.slick-container {
    padding: 0 8px;
}